@media only screen and (hover: hover) {
  .start {
    &__btn {
      background-color: var(--black-clr);
      color: var(--white-clr);

      &::after {
        content: "";
        position: absolute;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 0%;
        border-radius: 50%;
        background-color: var(--start-btn-bk-clr);
        transition: height 0.4s ease-in;
      }

      &:hover::after {
        height: 100%;
        bottom: 0;
        top: auto;
      }
    }
  }
}

@media only screen and (hover: none) {
  .start {
    &__btn {
      background-color: var(--start-btn-bk-clr);
      color: var(--white-clr);
    }
  }
}

@media only screen and (max-width: 1000px) {
  :root {
    // FONT
    --primary-title-fs: 4rem;
    --txtbox-primary-title-fs: 2rem;
    --list-fs: 1.125rem;
  }

  .area {
    --ball-width: 1.5rem;
    --area-before-width: 17rem;
  }
}

@media only screen and (max-width: 700px) {
  :root {
    // FONT
    --general-icon-fs: 2.25rem;
    --list-fs: 1.1rem;

    // TOP, LEFT, RIGHT, BOTTOM
    --help-icon-top: 1rem;
    --help-icon-right: 1rem;
  }

  .help {
    // MARGIN
    --pri-ttl-mg-bttm: 3.75rem;
  }

  .start {
    // FONT
    --start-btn-fs: 3rem;

    // WIDTH & HEIGHT
    --start-btn-width: 14rem;
    --start-btn-height: 14rem;
  }

  .area {
    // FONT
    --score-fs: 1.5rem;

    // TOP, LEFT, RIGHT & BOTTOM
    --setting-top: 2rem;
    --setting-right: 1.5rem;

    &__setting {
      flex-direction: column;
      gap: 1rem;
    }
  }
}

@media only screen and (max-width: 500px) {
  :root {
    --primary-title-fs: 3.5rem;
    --txtbox-primary-title-fs: 1.75rem;
    --list-fs: 1rem;
  }

  .help {
    // PADDING
    --help-padding: 1.5rem 1.25rem;
    --lists-left-padding: 1.25rem;

    // MARGIN
    --pri-ttl-mg-bttm: 2.75rem;
    --txt-box-mg-bttm: 2rem;

    // GAP
    --txt-box-gap: 1rem;
  }

  .start {
    --start-btn-fs: 2.75rem;

    // WIDTH & HEIGHT
    --start-btn-width: 12rem;
    --start-btn-height: 12rem;
  }

  .area {
    // WIDTH & HEIGHT
    --paddle-width: 6rem;
    --ball-width: 1.125rem;
    --area-before-width: 14rem;

    // FONT
    --setting-icons-fs: 1.75rem;
  }
}

@media only screen and (max-width: 350px) {
  .area {
    --paddle-width: 5rem;
    --area-before-width: 13rem;
  }
}
