.primary--title {
  font-size: var(--primary-title-fs);
}

.txt__box {
}

.txtbox--primary-title {
  font-size: var(--txtbox-primary-title-fs);
}

.lists {
}

.list {
  font-size: var(--list-fs);
  line-height: 1.5;
}

.icon {
  font-size: var(--general-icon-fs);
}
