.container--primary {
  max-width: 1300px;
  width: 100%;
  margin-inline: auto;
}

.hide {
  display: none;
}

.start--opacity {
  opacity: 0;
}

.start--hide {
  display: none;
}

.score--opacity {
  opacity: 0;
}

.help--hide {
  display: none;
}

.help__btn--hide {
  display: none;
}

.close__btn--hide {
  display: none;
}

.setting--hide {
  display: none;
}

.setting__btn--opacity {
  opacity: 0;
}
