.container--primary {
  max-width: 1300px;
  width: 100%;
  margin-inline: auto;
}

.touch--version {
  display: grid;
  grid-template-rows: 90dvh 10dvh;
}

.controller--hide {
  display: none;
}

.hide {
  display: none;
}

.start--opacity {
  opacity: 0;
}

.score--opacity {
  opacity: 0;
}

.area__setting--opacity {
  opacity: 0;
}

.help--hide {
  display: none;
}

.help__btn--hide {
  display: none;
}

.close__btn--hide {
  display: none;
}

.play__btn--hide {
  display: none;
}

.pause__btn--hide {
  display: none;
}
