.help {
  // PADDING
  --help-padding: 2rem 1.5rem;
  --lists-left-padding: 1.5rem;

  // MARGIN
  --pri-ttl-mg-bttm: 4.5rem;
  --txt-box-mg-bttm: 3.5rem;
  --list-mg-bttm: 0.75rem;

  // GAP
  --txt-box-gap: 1.25rem;

  position: absolute;
  inset: 0;
  z-index: var(--help-index);
  color: var(--help-txts-clr);
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;

  background-image: radial-gradient(#616161 0.5px, transparent 0.5px),
    radial-gradient(#616161 0.5px, #000000 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;

  padding: var(--help-padding);

  &::-webkit-scrollbar {
    display: none;
  }

  &__container {
    & > h1 {
      text-align: center;
      margin-bottom: var(--pri-ttl-mg-bttm);
    }

    & > .txt__box {
      gap: var(--txt-box-gap);

      &:not(:last-child) {
        margin-bottom: var(--txt-box-mg-bttm);
      }

      & > .lists {
        padding-left: var(--lists-left-padding);
      }

      & > .lists > li:not(:last-child) {
        margin-bottom: var(--list-mg-bttm);
      }
    }

    .list {
      list-style-type: decimal;
    }
  }
}
