.start {
  // TOP, LEFT, RIGHT & BOTTOM
  // --start-help-top: 1.25rem;
  // --start-help-right: 1.25rem;
  --customize-top: 80%;
  --customize-left: 50%;

  // PADDING
  --customize-select-option-padding: 0.25rem 0.75rem;

  // FONT
  --start-btn-fs: 4rem;
  --customize-span-fs: 2rem;
  --customize-select-option-fs: 1.5rem;

  // GAP
  --customize-gap: 1.25rem;
  --customize-round-vs-gap: 1rem;

  // WIDTH & HEIGHT
  --start-btn-width: 16rem;
  --start-btn-height: 16rem;

  position: fixed;
  inset: 0;
  z-index: var(--start-index);

  display: grid;
  place-items: center;
  background-color: var(--start-bk-clr);

  opacity: 1;
  transition: opacity 0.3s ease-in;

  &__btn {
    font-size: var(--start-btn-fs);
    border-radius: 50%;
    width: var(--start-btn-width);
    height: var(--start-btn-height);

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .customize {
    position: absolute;
    top: var(--customize-top);
    left: var(--customize-left);
    transform: translate(-50%, 0%);

    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
    gap: var(--customize-gap);

    &__round,
    %__vs {
      gap: var(--customize-round-vs-gap);
    }

    &__span {
      font-size: var(--customize-span-fs);
      color: #fff;
      text-wrap: nowrap;
    }

    &__select,
    &__option {
      cursor: pointer;
      border: none;
      outline: none;
      font-size: var(--customize-select-option-fs);
      padding: var(--customize-select-option-padding);
      border-radius: 0.25rem;
      background-color: #fff;
    }
  }
}
