*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  font: inherit;
}

img,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
  font: inherit;
}

input,
label,
select,
textarea {
  font: inherit;
}

:root {
  // BACKGROUND COLOR
  --area-bk-clr: hsl(165, 83%, 37%);
  --paddle-clr: hsl(193, 9%, 19%);
  --area-line-clr: hsl(163, 83%, 64%);
  --start-bk-clr: hsla(0, 0%, 0%, 0.8);
  --start-btn-bk-clr: hsl(165, 83%, 37%);

  // TEXT CLR
  --start-btn-txt-clr: #fff;
  --help-txts-clr: #fff;

  // BLACK & WHITE
  --white-clr: #fff;
  --black-clr: #000;

  // Z-INDEX
  --area-after-index: 25;
  --area-before-index: 50;
  --help-icon-index: 500;
  --help-index: 300;
  --start-index: 200;
  --start-btn-index: 1;
  --ball-index: 100;

  // FONT
  --general-icon-fs: 2.5rem;
  --primary-title-fs: 4.5rem;
  --txtbox-primary-title-fs: 2.5rem;
  --list-fs: 1.25rem;

  // TOP, LEFT, RIGHT, BOTTOM
  --help-icon-top: 1.25rem;
  --help-icon-right: 1.25rem;

  // LAYOUT
  --game-layout: 100dvh;
  --controller-view: none;
}

body {
  min-height: 100dvh;
  position: relative;
  isolation: isolate;
  font-family: "Roboto", sans-serif;
}

.flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
