.icon__btn {
  -webkit-tap-highlight-color: transparent;
}

.volume {
  position: absolute;
  top: var(--volume-icon-top);
  left: var(--volume-icon-left);
  z-index: var(--volume-icon-index);
}

.help__btn,
.close__btn {
  position: absolute;
  top: var(--help-icon-top);
  right: var(--help-icon-right);
  z-index: var(--help-icon-index);
}

.help__icon,
.close__icon,
.volume__icon,
.volume-muted__icon {
  color: var(--white-clr);
}

.main {
  position: relative;
  display: grid;
  grid-template-rows: var(--game-layout);
}

.area {
  // WIDTH & HEIGHT
  --area-after-height: 6px;
  --area-before-width: 22rem;
  --paddle-height: 1.5vh;
  --paddle-width: clamp(8rem, 8vw + 5rem, 14rem);
  --ball-width: 1.75rem;

  // TOP, LEFT, RIGHT & BOTTOM
  --paddle-computer-top: 1vh;
  --paddle-user-bottom: 1vh;
  --setting-top: 1.25rem;
  --setting-right: 1.25rem;
  --score-computer-right: 0.75rem;
  --score-playerSec-right: 0.75rem;
  --score-player-left: 0.75rem;

  // FONT
  --score-fs: 1.75rem;
  --game-result-fs: 3rem;

  background-color: var(--area-bk-clr);
  position: relative;
  overflow: hidden;

  .setting__btn {
    position: absolute;
    top: var(--setting-top);
    right: var(--setting-right);
    transition: opacity 0.3s ease-in;
  }

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: var(--area-after-height);
    background-color: var(--area-line-clr);

    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    z-index: var(--area-after-index);
  }

  &::before {
    content: "";
    display: block;
    width: var(--area-before-width);
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 8px solid var(--area-line-clr);
    background-color: var(--area-bk-clr);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: var(--area-before-index);
  }

  .game__result {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: var(--game-result-index);

    text-align: center;
    text-wrap: balance;
    color: var(--white-clr);
    font-size: var(--game-result-fs);
  }
}

.paddle {
  --position: 50;

  background-color: var(--paddle-clr);
  height: var(--paddle-height);
  width: var(--paddle-width);
  // border-radius: 0.25rem;

  position: absolute;
  left: calc(var(--position) * 1vw);
  transform: translate(-50%, 0%);

  &__computer,
  &__playerSec {
    top: var(--paddle-computer-top);
  }

  &__user {
    bottom: var(--paddle-user-bottom);
  }
}

.ball,
.showcase__ball {
  --x: 50;
  --y: 50;

  width: var(--ball-width);
  aspect-ratio: 1/1;
  border-radius: 50%;
  z-index: var(--ball-index);
  background-color: var(--white-clr);
  position: absolute;
  top: calc(var(--y) * 1%);
  left: calc(var(--x) * 1%);
  transform: translate(-50%, -50%);
}

.score {
  position: absolute;
  font-size: var(--score-fs);
  font-weight: 500;
  transition: opacity 0.3s ease-in;
  z-index: var(--score-index);
  display: flex;

  &__computer {
    top: 45%;
    right: var(--score-computer-right);
    transform: translate(0%, -50%);
  }

  &__playerSec {
    top: 45%;
    right: var(--score-playerSec-right);
    transform: translate(0%, 50%);
    rotate: 180deg;
  }

  &__player {
    bottom: 45%;
    left: var(--score-player-left);
    transform: translate(0%, 50%);
  }

  .point__total {
    opacity: 0.4;
  }
}

.controller {
  // WIDTH & HEIGHT
  --controller-bar-width: 3.5rem;

  background-color: var(--area-bk-clr);
  position: relative;

  &__playerone {
    display: var(--controller-view-p1);
    border-top: 2px solid #000;
  }

  &__playersec {
    display: var(--controller-view-p2);
    border-bottom: 2px solid #000;
  }

  &__line {
    width: 75vw;
    height: 0.75vh;
    border-radius: 0.25rem;
    background-color: #fff;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__line--playerone {
    --left: 50;
  }

  &__line--playersec {
    --left: 50;
  }

  &__bar {
    width: var(--controller-bar-width);
    aspect-ratio: 1/1;
    background-color: var(--area-bk-clr);

    position: absolute;
    top: 50%;
    left: calc(var(--left) * 1%);
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease-in;
  }
}
