.help__btn,
.close__btn {
  position: absolute;
  top: var(--help-icon-top);
  right: var(--help-icon-right);
  z-index: var(--help-icon-index);
}

.help__icon,
.close__icon {
  color: var(--white-clr);
}

.main {
  position: relative;
}

.area {
  // WIDTH & HEIGHT
  --area-height: 100dvh;
  --area-after-height: 6px;
  --area-before-width: 22rem;
  --paddle-height: 1.5vh;
  --paddle-width: clamp(8rem, 8vw + 5rem, 14rem);
  --ball-width: 1.75rem;

  // TOP, LEFT, RIGHT & BOTTOM
  --paddle-computer-top: 1vh;
  --paddle-user-bottom: 1vh;
  --setting-top: 1.25rem;
  --setting-right: 1.25rem;

  // FONT
  --score-fs: 1.75rem;
  --setting-icons-fs: 2.25rem;

  height: var(--area-height);
  background-color: var(--area-bk-clr);
  position: relative;
  overflow: hidden;

  .area__setting {
    position: absolute;
    top: var(--setting-top);
    right: var(--setting-right);
  }

  .reset__icon,
  .pause__icon,
  .play__icon {
    font-size: var(--setting-icons-fs);
  }

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: var(--area-after-height);
    background-color: var(--area-line-clr);

    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    z-index: var(--area-after-index);
  }

  &::before {
    content: "";
    display: block;
    width: var(--area-before-width);
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 8px solid var(--area-line-clr);
    background-color: var(--area-bk-clr);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: var(--area-before-index);
  }
}

.paddle {
  --position: 50;

  background-color: var(--paddle-clr);
  height: var(--paddle-height);
  width: var(--paddle-width);
  border-radius: 0.25rem;

  position: absolute;
  left: calc(var(--position) * 1vw);
  transform: translate(-50%, 0%);

  &__computer {
    top: var(--paddle-computer-top);
  }

  &__user {
    bottom: var(--paddle-user-bottom);
  }
}

.ball,
.showcase__ball {
  --x: 50;
  --y: 50;

  width: var(--ball-width);
  aspect-ratio: 1/1;
  border-radius: 50%;
  z-index: var(--ball-index);
  background-color: var(--white-clr);
  position: absolute;
  top: calc(var(--y) * 1vh);
  left: calc(var(--x) * 1vw);
  transform: translate(-50%, -50%);
}

.score {
  position: absolute;
  font-size: var(--score-fs);
  font-weight: 500;
  transition: opacity 0.3s;

  &__computer {
    top: 45%;
    right: 0%;
    transform: translate(-50%, -50%);
  }

  &__player {
    bottom: 45%;
    left: 0%;
    transform: translate(50%, 50%);
  }
}
